<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="../../../../appSettings.config">
    <add key="appId" value="YOUR_FB_APPID"/>
    <add key="appSecret" value="YOUR_FB_APP_SECRET"/>
    <add key="azureCognitiveEndpoint" value="https://westus.api.cognitive.microsoft.com/"/>
    <add key="azureCognitiveServiceKey" value="YOUR_AZURE_CS_KEY"/>
    <add key="facebookNode" value="YOUR_FB_NODE_ID"/>
  </appSettings>
</configuration>